# ========================< API KEYS >========================
PINECONE_API_KEY="<SUA-CHAVE-DE-API-DO-PINECONE>"
HUGGINGFACEHUB_API_TOKEN="<SUA-CHAVE-DE-API-DO-HUGGING-FACE>"

# ===========================< IA >===========================
HF_EMBEDDING_MODEL="<MODELO-DE-EMBEDDING>"
HF_MODEL="<MODELO-DE-IA>"
MAX_TOKENS=3000
INDEX_NAME="eduia-rag"
MIN_CHUNKS_LENGTH="50"
